[submodule "tools/gps"]
	path = tools/gps
	url = https://github.com/IASB-archives/GPS.git
[submodule "tools/splmcripts"]
	path = tools/splmcripts
	url = https://github.com/IASB-archives/splm_unitscripts.git
[submodule "tools/csv"]
	path = tools/csv
	url = https://github.com/IASB-archives/go_scripts.git
